  <div class="container-fluid mt--7">
      <div class="row">
        <div class="col">
          <div class="card shadow">
            <div class="card-header border-0">
              <div class="row">
                <div class="col">
                   <h2 class="mt-2 mb-0">Purchase Order</h2>
                </div>  
                <div class="col-4">
           
                  <div class="input-group mb-2">
                    <input type="text" [(ngModel)]="myModel" (click)="onEnter2()"  class="form-control searchcustom" placeholder="Purchase Order ID">
                    <!-- <input type="text"class="form-control searchcustom" placeholder="{{TableName}} ID" #myInput formControlName="SearchID"> -->
                    
                    <div class="input-group-append">
                      <button (click)="onEnter2()" class="btn-search" type="button"><i class="fa fa-search" aria-hidden="true"></i></button>
                      <!-- <button class="btn-search" type="button" (click)="OnSearch()"><i class="fa fa-search" aria-hidden="true"></i></button> -->
                    </div>
                  </div>    
                        
                </div>
              </div>
            </div>
    <!-- Table -->
    <div class="row">
        <div class="col">
          <div class="card shadow">
            <!-- //TODO HEADER -->
            <div class="card-header border-0">
              <div class="row align-items-center">
                <div class="col-4"></div>
                <div class="col">
                  <h1 class="mb-0 text-center ">Purchase Order</h1>
                </div>
                <div class="col-3"></div>
               
                <div class="col-1 text-right">
                  <a href="#!" class="btn btn-sm btn-primary">Print</a>
                </div>
              </div>
            </div>
            <div class="row">
                <div class="col"></div>
                <div class="col-3">
                  <h3 class="sametopic">PO NO.: {{PoNumShow}}</h3><br>
                  <h3 class="sametopic">Payment NO.: {{PaymentShow}}</h3><br>
                  <h3 class="sametopic">Date: {{DateShow}}</h3><br>
                </div>
            </div>
            
            <div class="row">          
                <div class="col-3">
                  <h3 class="sametopic">Customer ID.:{{CustID}}</h3><br>
                  <h3 class="sametopic">Customer: {{CusTitle}} {{CusName}} {{CusSur}}</h3><br>
                  <h3 class="sametopic">Taxpayer ID.: {{TaxID}}</h3><br>
                </div>
                <div class="col"></div>
            </div>
            <!-- //TODO TABLE -->
            <div class="table-responsive mt-4">
              <!-- Projects table -->
              <table class="table align-items-center table-flush">
                <thead class="thead-light">
                  <tr>
                    <th scope="col">Item</th>
                    <th scope="col">Price/Litre</th>
                    <th scope="col">Quantity(L)</th>
                    <th scope="col" class ="text-center">Total</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>
                      {{Gastype}}
                    </td>
                    <td>
                      {{Price}}
                    </td>
                    <td>
                      {{Quantity}}
                    </td>
                    <td  class ="text-center">
                      {{AmountPrice}}
                    </td>
            
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
        <!----------------------------- END PAGE VISITS ----------------------------->
    
        <!----------------------------- START SOCIAL TRAFFIC ----------------------------->
        
        <!----------------------------- END SOCIAL TRAFFIC ----------------------------->
      </div>