<div class="header bg-bymedarkblue pb-8 pt-5 pt-md-8">
  <div class="container-fluid">
    <div class="header-body">
      <!-- Card stats -->
      
        <a *ngFor="let Page of Bottonshow; index as i" routerLink="{{Page.path}}">
          <button id={{i}} type="button" placement="top-center" class="{{PropChange[i]}}" triggers="hover focus click"(click)=check($event)>{{Page.Name}}</button>  
        </a>

        </div>
      </div>
    </div>
    
    <!-- <div class="container-fluid mt--7">
      <div class="row">
        <div class="col">
          <div class="card shadow">
            <div class="card-header border-0">
              <div class="row">
                <div class="col">
                   <h3 class="mb-0">{{TableName}}</h3>
                </div>  
                <div class="col-4">
           
                  <div class="input-group mb-3">
                    <input type="text" [(ngModel)]="myModel" (keyup)="valuechange()"  class="form-control searchcustom" placeholder="{{TableName}} ID" #myInput> -->
                    <!-- <input type="text"class="form-control searchcustom" placeholder="{{TableName}} ID" #myInput formControlName="SearchID"> -->
                    
                    <!-- <div class="input-group-append">
                      <button class="btn-search" type="button"><i class="fa fa-search" aria-hidden="true"></i></button> -->
                      <!-- <button class="btn-search" type="button" (click)="OnSearch()"><i class="fa fa-search" aria-hidden="true"></i></button> -->
                    <!-- </div>
                  </div>    
                        
                </div>
              </div>
            </div> -->
     
              <!-- Table -->
            <router-outlet></router-outlet>
    
       
      
 
    
 