<div class="header bg-bymedarkblue pb-8 pt-5 pt-md-8">
  <div class="container-fluid">
    <div class="header-body">
      <!-- Card stats -->
      
        <a *ngFor="let Page of Bottonshow; index as i" routerLink="{{Page.path}}">
          <button id={{i}} type="button" placement="top-center" class="{{PropChange[i]}}" triggers="hover focus click"(click)=check($event)>{{Page.Name}}</button>  
        </a>

        </div>
      </div>
    </div>

     
              <!-- Table -->
            <router-outlet></router-outlet>
    
       
      
 
    
 