    <!-- Table -->
    <div class="row">
      <div class="col">
        <div class="card shadow">
          <div class="card-header border-0">
            <h3 class="mb-0">Income Statement</h3>
          </div>
          <div class="table-responsive">
            <table class="table align-items-center table-flush">
              <thead class="thead-light">
                <tr>
                    <th scope="col">Statement</th>
                    <th scope="col-1">Bath</th>
            
            
                </tr>
              </thead>
              <tbody>
                <tr>
                     <td> Sale </td>                       
                                                   
                </tr>
                <tr>
                  <td class="pl-5"> - GASOHOL95</td>
                  <td>        XX    </td>
                </tr>

                <tr>
                  <td class="pl-5"> - DIESEL</td>
                  <td>      XX   </td>
                </tr>

                <tr class="fw-bold" >
                  <td> Total Sale </td>
                  <td>      XX   </td>
                </tr>

                <tr>
                  <td  class="pl-5"> - GASOHOL95</td>
                  <td>        XX    </td>
                </tr>

                <tr>
                  <td class="pl-5"> - DIESEL</td>
                  <td>      XX   </td>
                </tr>

                <tr class="fw-bold" >
                  <td> Total COGS </td>
                  <td  style="text-decoration: underline;">      XX   </td>
                </tr>

                <tr class="fw-bold">
                  <td> Gross Profit </td>
                  <td>      XX   </td>
                </tr>

                <tr>
                  <td> Expense </td>                 
                  <td>  </td>                 
                </tr>
                <tr>
                  <td> Salary </td>                 
                  <td>  </td>                 
                </tr>

                <tr>
                  <td class="pl-5"> - Sale Office Staff</td>
                  <td>        XX    </td>
                </tr>

                <tr>
                  <td class="pl-5"> - Gate Controller</td>
                  <td>      XX   </td>
                </tr>

                <tr>
                  <td> Utility Expense</td>
                  <td>        XX    </td>
                </tr>

                <tr>
                  <td> Depreciation</td>
                  <td  style="text-decoration: underline;">        XX    </td>
                </tr>

                <tr class="fw-bold" >
                  <td > Net Income (Loss)</td>
                  <td style="text-decoration: underline;">        XX    </td>
                </tr>

                               
              </tbody>
            </table>
          </div>
        
        </div>
      </div>
    </div>


  