    <!-- Table -->
    <div class="row">
      <div class="col">
        <div class="card shadow">
          <div class="card-header border-0">
            <div class="row m-0 p-0">
              <div class="col p-0">
                <h2 class="mt-3 mb-0">Income Statement</h2>
                
              </div>
              <div class="col-3 text-right">
                <mat-form-field appearance="fill" class="mt-1 mb--2">
                  <mat-label>Enter a date range</mat-label>
                  <mat-date-range-input [formGroup]="range" [rangePicker]="picker">
                    <input matStartDate formControlName="start" placeholder="Start date">
                    <input matEndDate formControlName="end" placeholder="End date" (dateChange)="GetDateRange($event)" [formControl]="date">
                  </mat-date-range-input>
                  <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                  <mat-date-range-picker #picker></mat-date-range-picker>
                </mat-form-field>                 
            </div>
            
            <!-- <div class="col-2">
              <h1 class="text-center mt-3">J{{DatChange}} </h1>
            </div> -->
          </div>
          </div>
          <div class="table-responsive">
            <table class="table align-items-center table-flush">
              <thead class="thead-light">
                <tr>
                    <th scope="col">Statement</th>
                    <th scope="col-1">Bath</th>
                    <th scope="col-1"></th>
                    <th scope="col-1"></th>
                </tr>
              </thead>
              <tbody>
                <tr>
                     <td> Sale </td>                       
                                                   
                </tr>
                <tr>
                  <td class="pl-5"> -Sale GASOHOL95</td>
                  <td class="text-right">  {{Sale_GShow}}    </td>
                </tr>

                <tr>
                  <td class="pl-5"> -Sale DIESEL</td>
                  <td>  {{Sale_DShow}}   </td>
                </tr>

                <tr class="fw-bold" >
                  <td> Total Sale </td>
                  <td>      {{Total_SaleShow}}   </td>
                </tr>

                <tr>
                  <td  class="pl-5"> -Purchase GASOHOL95</td>
                  <td>        {{Purchase_GShow}}    </td>
                </tr>

                <tr>
                  <td class="pl-5"> -Purchase DIESEL</td>
                  <td>      {{Purchase_DShow}}   </td>
                </tr>

                <tr class="fw-bold" >
                  <td> Total COGS </td>
                  <td  style="text-decoration: underline;">  {{TotalPurchaseShow}} </td>
                </tr>

                <tr class="fw-bold">
                  <td> Gross Profit </td>
                  <td> {{Gross_ProfitShow}}   </td>
                </tr>

                <tr>
                  <td> Expense </td>                 
                  <td>  </td>                 
                </tr>
                <tr>
                  <td> Salary </td>                 
                  <td> {{SalaryShow}} </td>                 
                </tr>


                <tr>
                  <td> Utility Expense</td>
                  <td>        {{UtilityShow}}    </td>
                </tr>

                <tr>
                  <td> Depreciation</td>
                  <td  style="text-decoration: underline;"> {{DepreciationShow}} </td>
                </tr>

                <tr class="fw-bold" >
                  <td > Net Income (Loss)</td>
                  <td style="text-decoration: underline;">{{Net_IncomeShow}}</td>
                </tr>

                               
              </tbody>
            </table>
          </div>
        
        </div>
      </div>
    </div>


  