.selmenu {
    background: #ffffff;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 18px;
    padding-right: 18px;
}
::ng-deep .mat-form-field-appearance-fill .mat-form-field-flex {
    border-radius: 10px 10px 10px 10px !important;
    padding: .75em .75em 0 .75em !important;
    background-color: #d9d9d9;
    color: #676767;
}

//////////////// MAY 2021 ////////////////

::ng-deep .mat-calendar {
    background-color: #d9d9d9;
    color: #676767;
  }

::ng-deep .mat-calendar-body-selected {
    background-color: #676767 !important;
    color: #fff !important;
} 


//////////////// Choose a date WHEN CLICK ////////////////

::ng-deep .mat-focused .mat-form-field-label {
    color: #000000 !important;
}

//////////////// S M T W T F S ////////////////

::ng-deep .mat-calendar-table-header {
    color: #676767;
}

//////////////// DATE NUMBER ////////////////

::ng-deep .mat-calendar-body-cell-content, .mat-date-range-input-separator {
    color: #676767;
    border-color: transparent;
}

//////////////// MAY ////////////////

::ng-deep .mat-calendar-body-label {
    color: #676767;
}


//////////////// arrow's MAY 2021 ////////////////

::ng-deep .mat-calendar-arrow {
    border-top-color: #676767;
}

//////////////// arrow's MAY 2021 ////////////////

::ng-deep .mat-datepicker-content .mat-calendar-next-button{
    color: #676767;
}

::ng-deep .mat-datepicker-content .mat-calendar-previous-button{
    color: #676767;
}

::ng-deep .mat-datepicker-toggle {
    color: #ffffff !important;
   }

::ng-deep .mat-calendar-body-cell:not(.mat-calendar-body-disabled):hover>.mat-calendar-body-cell-content:not(.mat-calendar-body-selected):not(.mat-calendar-body-comparison-identical),.cdk-keyboard-focused .mat-calendar-body-active>.mat-calendar-body-cell-content:not(.mat-calendar-body-selected):not(.mat-calendar-body-comparison-identical),.cdk-program-focused .mat-calendar-body-active>.mat-calendar-body-cell-content:not(.mat-calendar-body-selected):not(.mat-calendar-body-comparison-identical){
    background-color:#9e9e9e;
    color: #ffffff;
}

::ng-deep .mat-input-element{
    color: #676767;
}

::ng-deep .ng-star-inserted{
    color: #8f8f8f;
}

::ng-deep .ng-star-inserted{
    color: #8f8f8f;
}