<div class="header bg-bymeone pb-8 pt-5 pt-md-8">
    <div class="container-fluid">
      <div class="header-body">
        <div class="row">
          <div class="col" *ngFor="let Page of pages; index as i" routerLink="./{{Page.Route}}">
            <a>
              
              <button id={{i}} type="button" placement="top-center" class="{{PropChange[i]}}" triggers="hover focus click" style="width: 100%;"
                (click)=check($event)>{{Page.Name}}</button>
              
            </a>
           </div>  
          </div>

      </div>
    </div>
  </div>   
      <!-- Table -->
      <router-outlet></router-outlet>


  <div class="footer bg-bymeten">
  </div>
  
  
  <router-outlet></router-outlet>
