<div class="header bg-bymeone pb-8 pt-5 pt-md-8">
  <div class="container-fluid">
    <div class="header-body">
      <!-- <a *ngFor="let Page of pages; index as i" routerLink="{{Page.Route}}">
        <button id={{i}} type="button" placement="top-center" class="{{PropChange[i]}}" triggers="hover focus click"(click)=check($event)>{{Page.Name}}</button>  
      </a> -->
      <!-- Card stats -->
      <div class="row">
        <div class="col-xl-3 col-lg-6">
          <!-- Chart1  -->
        </div>
        <div class="col-xl-3 col-lg-6">
          <!-- Chart2  -->
        </div>
        <div class="col-xl-3 col-lg-6">
          <!-- Chart3 -->
        </div>
        <div class="col-xl-3 col-lg-6">
          <!-- Chart4 -->
        </div>
      </div>
    </div>
  </div>
</div>


<div class="container-fluid bg-bymeten mt--7">
  <!----------------------------- START WIP ----------------------------->
  <div class="row">
    <div class="col-xl-8 mb-5 mb-xl-0">
      <div class="card bg-default shadow">
        <div class="card-header bg-transparent">
          <div class="row align-items-center">
            <div class="col">
              <h6 class="text-uppercase text-light ls-1 mb-1">AT EACH STATION</h6>
              <h2 class="text-white mb-0">WORK IN PROCESS</h2>
            </div>
            <div class="col">
              <!-- <ul class="nav nav-pills justify-content-end">
                <li>ABC</li>
                <li>DEF</li>
              </ul> -->
            </div>
          </div>
        </div>
        <div class="card-body">
          <!-- Chart -->
          <div style="display: block">
            <canvas baseChart 
            [chartType]="'line'" 
            [legend]="true" 
            [datasets]="chartData" 
            [labels]="chartLabels"
            [options]="chartOptions" 
            (chartHover)="onChartHover(($event))" 
            (chartClick)="onChartClick(($event))">
            <!-- [Color]="chartColors" -->
            </canvas>
            <!-- <button (click)="newDataPoint([900, 50, 300], 'May')">
                Add data point
              </button> -->
          </div>
          <!-- ปรับความสูง+data chart sale value -->
        </div>
      </div>
    </div>
    <!----------------------------- END WIP ----------------------------->

    <!----------------------------- START SIX BLOCKS ----------------------------->
    <div class="col-xl-4">
      <div class="row">
        <div class="col">
          <!----------------------------- FIRST BLOCKS ----------------------------->
          <div class="card card-stats bg-bymeonesix mb-4 mb-xl-0 mt-4">
            <div class="card-body">
              <div class="row">
                <div class="col">
                  <h5 class="card-title text-uppercase font-weight-bold text-muted text-white mb-0">AMOUNT OF GASOHOL95</h5>
                  <span class="h1 font-weight-bold text-white mb-0">350,897  </span>
                  <span class="text-white mr-2"><i class="fa fa-arrow-up"></i></span>
                </div>
                <div class="col-auto">
                  <div class="icon icon-shape bg-white text-bymeonesix rounded-circle shadow">
                    <i class="fas fa-gas-pump"></i>
                  </div>
                </div>
              </div>
              <!-- <p class="mt-3 mb-0 text-muted text-sm">
                <span class="text-success mr-2"><i class="fa fa-arrow-circle-up"></i> 3.48%</span>
                <span class="text-nowrap">Since last month</span>
              </p> -->
            </div>
          </div>
          <!----------------------------- SECOND BLOCKS ----------------------------->
          <div class="card card-stats bg-bymeoneseven mb-4 mb-xl-0 mt-3">
            <div class="card-body">
              <div class="row">
                <div class="col">
                  <h5 class="card-title text-uppercase font-weight-bold text-muted text-white mb-0">AMOUNT OF DIESEL</h5>
                  <span class="h1 font-weight-bold text-white mb-0">350,897  </span>
                  <span class="text-white mr-2"><i class="fa fa-arrow-up"></i></span>
                </div>
                <div class="col-auto">
                  <div class="icon icon-shape bg-white text-bymeoneseven rounded-circle shadow">
                    <i class="fas fa-gas-pump"></i>
                  </div>
                </div>
              </div>
              <!-- <p class="mt-3 mb-0 text-muted text-sm">
                <span class="text-success mr-2"><i class="fa fa-arrow-up"></i> 3.48%</span>
                <span class="text-nowrap">Since last month</span>
              </p> -->
            </div>
          </div>
          <!----------------------------- THIRD BLOCKS ----------------------------->
          <div class="card card-stats bg-bymeoneten mb-4 mb-xl-0 mt-3">
            <div class="card-body">
              <div class="row">
                <div class="col">
                  <h5 class="card-title text-uppercase font-weight-bold text-muted text-white mb-0">AMOUNT OF TRUCK IN</h5>
                  <span class="h1 font-weight-bold text-white mb-0">350,897  </span>
                  <span class="text-white mr-2"><i class="fa fa-arrow-up"></i></span>
                </div>
                <div class="col-auto">
                  <div class="icon icon-shape bg-white text-bymeoneten rounded-circle shadow">
                    <i class="fas fa-car-side"></i>
                  </div>
                </div>
              </div>
              <!-- <p class="mt-3 mb-0 text-muted text-sm">
                <span class="text-success mr-2"><i class="fa fa-arrow-up"></i> 3.48%</span>
                <span class="text-nowrap">Since last date</span>
              </p> -->
            </div>
          </div>
          <!----------------------------- FOURTH BLOCKS ----------------------------->
          <div class="card card-stats bg-bymetwoone mb-4 mb-xl-0 mt-3">
            <div class="card-body">
              <div class="row">
                <div class="col">
                  <h5 class="card-title text-uppercas font-weight-bold text-muted text-white mb-0">AMOUNT OF TRUCK OUT</h5>
                  <span class="h1 font-weight-bold text-white mb-0">350,897  </span>
                  <span class="text-white mr-2"><i class="fa fa-arrow-up"></i></span>
                </div>
                <div class="col-auto">
                  <div class="icon icon-shape bg-white text-bymetwoone rounded-circle shadow">
                    <i class="fas fa-car-side"></i>
                  </div>
                </div>
              </div>
              <!-- <p class="mt-3 mb-0 text-muted text-sm">
                <span class="text-success mr-2"><i class="fa fa-arrow-up"></i> 3.48%</span>
                <span class="text-nowrap">Since last month</span>
              </p> -->
            </div>
          </div>
          <!----------------------------- FIFTH BLOCKS ----------------------------->
          <div class="card card-stats bg-bymeonenine mb-4 mb-xl-0 mt-3">
            <div class="card-body">
              <div class="row">
                <div class="col">
                  <h5 class="card-title text-uppercase font-weight-bold text-muted text-white mb-0">DIESEL BAY's FAIL</h5>
                  <span class="h1 font-weight-bold text-white mb-0">350,897  </span>
                  <span class="text-white mr-2"><i class="fa fa-arrow-up"></i></span>
                </div>
                <div class="col-auto">
                  <div class="icon icon-shape bg-white text-bymeonenine rounded-circle shadow">
                    <i class="fas fa-exclamation-triangle"></i>
                  </div>
                </div>
              </div>
              <!-- <p class="mt-3 mb-0 text-muted text-sm">
                <span class="text-success mr-2"><i class="fa fa-arrow-up"></i> 3.48%</span>
                <span class="text-nowrap">Since last month</span>
              </p> -->
            </div>
          </div>
          <!----------------------------- SIXTH BLOCKS ----------------------------->
          <div class="card card-stats bg-bymeoneeight mt-3 mb-4 mb-xl-0 mt-3">
            <div class="card-body">
              <div class="row">
                <div class="col">
                  <h5 class="card-title text-uppercase font-weight-bold text-muted text-white mb-0">GASOHOL95 BAY's FAIL</h5>
                  <span class="h1 font-weight-bold text-white mb-0">350,897  </span>
                  <span class="text-white mr-2"><i class="fa fa-arrow-up"></i></span>
                </div>
                <div class="col-auto">
                  <div class="icon icon-shape bg-white text-bymeoneeight rounded-circle shadow">
                    <i class="fas fa-exclamation-triangle"></i>
                  </div>
                </div>
              </div>
              <!-- <p class="mt-3 mb-0 text-muted text-sm">
                <span class="text-success mr-2"><i class="fa fa-arrow-up"></i> 3.48%</span>
                <span class="text-nowrap">Since last month</span>
              </p> -->
            </div>
          </div>
          <!----------------------------- SEVENTH BLOCKS ----------------------------->
          <div class="card card-stats bg-bymeonefive mb-4 mb-xl-0 mt-3">
            <div class="card-body">
              <div class="row">
                <div class="col">
                  <h5 class="card-title text-uppercase font-weight-bold text-muted text-white mb-0">CYCLE TIME</h5>
                  <span class="h1 font-weight-bold text-white mb-0">350,897  </span>
                  <span class="text-white mr-2"><i class="fa fa-arrow-up"></i></span>
                </div>
                <div class="col-auto">
                  <div class="icon icon-shape bg-white text-bymeonefive rounded-circle shadow">
                    <i class="fas fa-history"></i>
                  </div>
                </div>
              </div>
              <!-- <p class="mt-3 mb-0 text-muted text-sm">
                <span class="text-success mr-2"><i class="fa fa-arrow-up"></i> 3.48%</span>
                <span class="text-nowrap">Since last month</span>
              </p> -->
            </div>
          </div>

        </div>
      </div>
    </div>
    <!----------------------------- END SIX BLOCKS ----------------------------->
  </div>

  <!----------------------------- START GAUGE-CHART ----------------------------->
  <div class="row mt-5">
  <!----------------------------- START RESOURCES BUSY ----------------------------->
    <div class="col-xl-6 mb-5 mb-xl-0">
      <div class="card shadow">
        <div class="card-header mt-3 bg-transparent">
          <div class="row align-items-center">
            <div class="col">
              <h6 class="text-uppercase text-muted ls-1 mb-1">AT EACH STATION</h6>
              <h2 class="text-black mb-0">RESOURCES BUSY</h2>
            </div>
            <div class="col">
              <!-- <ul class="nav nav-pills justify-content-end">
                <li>ABC</li>
                <li>DEF</li>
              </ul> -->
            </div>
          </div>
        </div>
        <div class="card-body">
          <!-- Chart -->
          <div style="display: block">
            <canvas baseChart 
            [chartType]="'bar'" 
            [legend]="true" 
            [datasets]="chartData2" 
            [labels]="chartLabels2"
            [options]="chartOptions2" 
            (chartHover)="onChartHover2(($event))" 
            (chartClick)="onChartClick2(($event))">
            <!-- [Color]="chartColors" -->
            </canvas>
            <!-- <button (click)="newDataPoint([900, 50, 300], 'May')">
                Add data point
              </button> -->
          </div>
          <!-- ปรับความสูง+data chart sale value -->
        </div>
      </div>
    </div>

    <div class="col-xl-6 mb-5 mb-xl-0">
      <div class="card shadow">
        <div class="card-header mt-3 bg-transparent">
          <div class="row align-items-center">
            <div class="col">
              <h6 class="text-uppercase text-muted ls-1 mb-1">AT EACH STATION</h6>
              <h2 class="text-black mb-0">RESOURCES BUSY</h2>
            </div>
            <div class="col">
              <!-- <ul class="nav nav-pills justify-content-end">
                <li>ABC</li>
                <li>DEF</li>
              </ul> -->
            </div>
          </div>
        </div>
        <div class="card-body">
          <!-- Chart -->
          <div style="display: block">
            <canvas baseChart 
            [chartType]="'bar'" 
            [legend]="true" 
            [datasets]="chartData22" 
            [labels]="chartLabels22"
            [options]="chartOptions22" 
            (chartHover)="onChartHover22(($event))" 
            (chartClick)="onChartClick22(($event))">
            <!-- [Color]="chartColors" -->
            </canvas>
            <!-- <button (click)="newDataPoint([900, 50, 300], 'May')">
                Add data point
              </button> -->
          </div>
          <!-- ปรับความสูง+data chart sale value -->
        </div>
      </div>
    </div>
    <!----------------------------- END RESOURCES BUSY -----------------------------> 
  </div>

  <!----------------------------- START %OEE ----------------------------->
  <div class="row mt-5">
    <div class="col mb-5 mb-xl-0">
      <div class="card shadow">
        <div class="card-header bg-transparent">
          <div class="row align-items-center">
            <div class="col">
              <h6 class="text-uppercase text-muted ls-1 mb-1">AT EACH STATION</h6>
              <h2 class="text-black mb-0">COMPARE %OEE</h2>
            </div>
            <div class="col">
              <!-- <ul class="nav nav-pills justify-content-end">
                <li>ABC</li>
                <li>DEF</li>
              </ul> -->
            </div>
          </div>
        </div>
        <div class="card-body">
          <!-- Chart -->
          <div style="display: block">
            <canvas baseChart 
            [chartType]="'bar'" 
            [legend]="true" 
            [datasets]="chartData3" 
            [labels]="chartLabels3"
            [options]="chartOptions3" 
            
            (chartHover)="onChartHover3(($event))" 
            (chartClick)="onChartClick3(($event))">
            <!-- [Color]="chartColors" -->
            </canvas>
            <!-- <button (click)="newDataPoint([900, 50, 300], 'May')">
                Add data point
              </button> -->
          </div>
          <!-- ปรับความสูง+data chart sale value -->
        </div>
      </div>
    </div>
  </div>
  <!----------------------------- END %OEE ----------------------------->

  <!----------------------------- START DONUT ----------------------------->
  <div class="row">
    <!----------------------------- FIRST DONUT ----------------------------->
    <div class="col-xl-6">
      <div class="card shadow mt-5">
        <div class="card-header bg-transparent">
          <div class="row align-items-center">
            <div class="col">
              <h6 class="text-uppercase text-muted ls-1 mb-1">AT EACH STATION</h6>
              <h2 class="mb-0">AVERAGE NUMBER OF QUEUE</h2>
            </div>
          </div>
        </div>
        <div class="card-body">
          <div style="display: block">
            <canvas baseChart 
            [data]="doughnutChartData" 
            [labels]="doughnutChartLabels" 
            [chartType]="doughnutChartType">
              <!-- [colors]="doughnutChartColors" -->
            </canvas>
          </div>
          <div class="row justify-content-md-center">
            <div class="card card-stats mt-3 mb-4 mb-xl-0">
              <div class="card-body">
                <div class="row">
                  <div class="col">
                    <h5 class="card-title text-uppercase text-muted mb-0">SALE OFFICE</h5>
                    <span class="h2 font-weight-bold mb-0">350,897</span>
                  </div>
                </div>
              </div>
            </div>
          
            <div class="card card-stats mt-3 mb-4 mb-xl-0">
              <div class="card-body">
                <div class="row">
                  <div class="col">
                    <h5 class="card-title text-uppercase text-muted mb-0">INBOUND WEIGHTBRIDGE</h5>
                    <span class="h2 font-weight-bold mb-0">350,897</span>
                  </div>
                </div>
              </div>
            </div>
          
            <div class="card card-stats mt-3 mb-4 mb-xl-0">
              <div class="card-body">
                <div class="row">
                  <div class="col">
                    <h5 class="card-title text-uppercase text-muted mb-0">DIESEL BAY</h5>
                    <span class="h2 font-weight-bold mb-0">350,897</span>
                  </div>
                </div>
              </div>
            </div>
          
            <div class="card card-stats mt-3 mb-4 mb-xl-0">
              <div class="card-body">
                <div class="row">
                  <div class="col">
                    <h5 class="card-title text-uppercase text-muted mb-0">GASOHOL95 BAY</h5>
                    <span class="h2 font-weight-bold mb-0">350,897</span>
                  </div>
                </div>
              </div>
            </div>
          
            <div class="card card-stats mt-3 mb-4 mb-xl-0">
              <div class="card-body">
                <div class="row">
                  <div class="col">
                    <h5 class="card-title text-uppercase text-muted mb-0">OUTBOUND WEIGHTBRIDGE</h5>
                    <span class="h2 font-weight-bold mb-0">350,897</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!----------------------------- SECOND DONUT ----------------------------->
    <div class="col-xl-6">
      <div class="card shadow mt-5">
        <div class="card-header bg-transparent">
          <div class="row align-items-center">
            <div class="col">
              <h6 class="text-uppercase text-muted ls-1 mb-1">AT EACH STATION</h6>
              <h2 class="mb-0">AVERAGE WAITING TIME</h2>
            </div>
          </div>
        </div>
        <div class="card-body">
          <div style="display: block">
            <canvas baseChart 
            [data]="doughnutChartData2" 
            [labels]="doughnutChartLabels2"
            [chartType]="doughnutChartType2" 
            [colors]="doughnutChartColors2">
            </canvas>










            <canvas baseChart 
            [datasets]="barChartData" 
            [labels]="barChartLabels"                        
            [chartType]="barChartType" 
            [colors]="barChartColors">
            </canvas>
          </div>

















          <div class="row justify-content-md-center">
            <div class="card card-stats mt-3 mb-4 mb-xl-0">
              <div class="card-body">
                <div class="row">
                  <div class="col">
                    <h5 class="card-title text-uppercase text-muted mb-0">SALE OFFICE</h5>
                    <span class="h2 font-weight-bold mb-0">350,897</span>
                  </div>
                </div>
              </div>
            </div>
          
            <div class="card card-stats mt-3 mb-4 mb-xl-0">
              <div class="card-body">
                <div class="row">
                  <div class="col">
                    <h5 class="card-title text-uppercase text-muted mb-0">INBOUND WEIGHTBRIDGE</h5>
                    <span class="h2 font-weight-bold mb-0">350,897</span>
                  </div>
                </div>
              </div>
            </div>
          
            <div class="card card-stats mt-3 mb-4 mb-xl-0">
              <div class="card-body">
                <div class="row">
                  <div class="col">
                    <h5 class="card-title text-uppercase text-muted mb-0">DIESEL BAY</h5>
                    <span class="h2 font-weight-bold mb-0">350,897</span>
                  </div>
                </div>
              </div>
            </div>
          
            <div class="card card-stats mt-3 mb-4 mb-xl-0">
              <div class="card-body">
                <div class="row">
                  <div class="col">
                    <h5 class="card-title text-uppercase text-muted mb-0">GASOHOL95 BAY</h5>
                    <span class="h2 font-weight-bold mb-0">350,897</span>
                  </div>
                </div>
              </div>
            </div>
          
            <div class="card card-stats mt-3 mb-4 mb-xl-0">
              <div class="card-body">
                <div class="row">
                  <div class="col">
                    <h5 class="card-title text-uppercase text-muted mb-0">OUTBOUND WEIGHTBRIDGE</h5>
                    <span class="h2 font-weight-bold mb-0">350,897</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!----------------------------- END DONUT ----------------------------->
</div>