.selmenu {
    background: #ffffff;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 18px;
    padding-right: 18px;
}
::ng-deep .mat-form-field-appearance-fill .mat-form-field-flex {
    border-radius: 10px 10px 10px 10px !important;
    padding: .75em .75em 0 .75em !important;
    background-color: #ddbea9 ;
    color: #755a4a;
}

::ng-deep.mat-form-field-underline {
    /*change color of underline*/
    background-color: rgba(255, 255, 255, 0) !important;;
   } 

::ng-deep .mat-form-field-ripple {
    /*change color of underline when focused*/
    background-color: rgba(255, 255, 255, 0) !important;;
   }
::ng-deep .mat-focused .mat-form-field-label {
    color: #755a4a !important;
}

///////////////// calendar icon color /////////////////

::ng-deep .mat-datepicker-toggle {
    color: #a77f69 !important;
   }

///////////////// calendar background color /////////////////

   ::ng-deep .mat-calendar {
    background-color: #ddbea9;
    color: #755a4a;
  }

///////////////// circle color /////////////////

  ::ng-deep .mat-calendar-body-selected {
    background-color: #755a4a;
    color: rgb(255, 255, 255) !important ;
} 
//////////////// Choose a date WHEN CLICK ////////////////

::ng-deep .mat-focused .mat-form-field-label {
    color: #755a4a !important;
}


//////////////// DATE NUMBER ////////////////

::ng-deep .mat-calendar-body-cell-content, .mat-date-range-input-separator {
    color: #a77f69;
    border-color: transparent;
}

//////////////// arrow's MAY 2021 ////////////////

::ng-deep .mat-calendar-arrow {
    border-top-color: #a77f69;
}

//////////////// arrow's MAY 2021 ////////////////

::ng-deep .mat-datepicker-content .mat-calendar-next-button{
    color: #a77f69;
}

::ng-deep .mat-datepicker-content .mat-calendar-previous-button{
    color: #a77f69;
}


::ng-deep .mat-calendar-body-cell:not(.mat-calendar-body-disabled):hover>.mat-calendar-body-cell-content:not(.mat-calendar-body-selected):not(.mat-calendar-body-comparison-identical),.cdk-keyboard-focused .mat-calendar-body-active>.mat-calendar-body-cell-content:not(.mat-calendar-body-selected):not(.mat-calendar-body-comparison-identical),.cdk-program-focused .mat-calendar-body-active>.mat-calendar-body-cell-content:not(.mat-calendar-body-selected):not(.mat-calendar-body-comparison-identical){
    background-color:#a77f69;
    color: #ffffff;
}


::ng-deep .ng-star-inserted{
    color: #a77f69;
}