<div class="header bg-gradient-danger pb-8 pt-5 pt-md-8">
  <div class="container-fluid">
    <div class="header-body">
      <!-- <a *ngFor="let Page of pages; index as i" routerLink="{{Page.Route}}">
        <button id={{i}} type="button" placement="top-center" class="{{PropChange[i]}}" triggers="hover focus click"(click)=check($event)>{{Page.Name}}</button>  
      </a> -->
      <!-- Card stats -->
      <div class="row">
        <div class="col-xl-3 col-lg-6">
          <!-- Chart1  -->
        </div>
        <div class="col-xl-3 col-lg-6">
          <!-- Chart2  -->
        </div>
        <div class="col-xl-3 col-lg-6">
          <!-- Chart3 -->
        </div>
        <div class="col-xl-3 col-lg-6">
          <!-- Chart4 -->
        </div>
      </div>
    </div>
  </div>
</div>


<div class="container-fluid mt--7">
  <!----------------------------- START WIP ----------------------------->
  <div class="row">
    <div class="col-xl-8 mb-5 mb-xl-0">
      <div class="card bg-gradient-default shadow">
        <div class="card-header bg-transparent">
          <div class="row align-items-center">
            <div class="col">
              <h6 class="text-uppercase text-light ls-1 mb-1">Overview</h6>
              <h2 class="text-white mb-0">WIP at each station</h2>
            </div>
            <div class="col">
              <ul class="nav nav-pills justify-content-end">
                <li>ABC</li>
                <li>DEF</li>
              </ul>
            </div>
          </div>
        </div>
        <div class="card-body">
          <!-- Chart -->
          <div style="display: block">
            <canvas baseChart 
            [chartType]="'line'" 
            [legend]="true" 
            [datasets]="chartData" 
            [labels]="chartLabels"
            [options]="chartOptions" 
            (chartHover)="onChartHover(($event))" 
            (chartClick)="onChartClick(($event))">
            </canvas>
            <!-- <button (click)="newDataPoint([900, 50, 300], 'May')">
                Add data point
              </button> -->
          </div>
          <!-- ปรับความสูง+data chart sale value -->
        </div>
      </div>
    </div>
    <!----------------------------- END WIP ----------------------------->

    <!----------------------------- START SIX BLOCKS ----------------------------->
    <div class="col-xl-4">
      <div class="row">
        <div class="col">
          <!----------------------------- FIRST BLOCKS ----------------------------->
          <div class="card card-stats mb-4 mb-xl-0">
            <div class="card-body">
              <div class="row">
                <div class="col">
                  <h5 class="card-title text-uppercase text-muted mb-0">AMOUNT OF GASOHOL95</h5>
                  <span class="h2 font-weight-bold mb-0">350,897</span>
                </div>
                <div class="col-auto">
                  <div class="icon icon-shape bg-danger text-white rounded-circle shadow">
                    <i class="fas fa-chart-bar"></i>
                  </div>
                </div>
              </div>
              <p class="mt-3 mb-0 text-muted text-sm">
                <span class="text-success mr-2"><i class="fa fa-arrow-up"></i> 3.48%</span>
                <span class="text-nowrap">Since last month</span>
              </p>
            </div>
          </div>
          <!----------------------------- SECOND BLOCKS ----------------------------->
          <div class="card card-stats mb-4 mb-xl-0 mt-3">
            <div class="card-body">
              <div class="row">
                <div class="col">
                  <h5 class="card-title text-uppercase text-muted mb-0">AMOUNT OF DIESEL</h5>
                  <span class="h2 font-weight-bold mb-0">350,897</span>
                </div>
                <div class="col-auto">
                  <div class="icon icon-shape bg-danger text-white rounded-circle shadow">
                    <i class="fas fa-chart-bar"></i>
                  </div>
                </div>
              </div>
              <p class="mt-3 mb-0 text-muted text-sm">
                <span class="text-success mr-2"><i class="fa fa-arrow-up"></i> 3.48%</span>
                <span class="text-nowrap">Since last month</span>
              </p>
            </div>
          </div>
          <!----------------------------- THIRD BLOCKS ----------------------------->
          <div class="card card-stats mb-4 mb-xl-0 mt-3">
            <div class="card-body">
              <div class="row">
                <div class="col">
                  <h5 class="card-title text-uppercase text-muted mb-0"> AMOUNT OF TRUCK IN</h5>
                  <span class="h2 font-weight-bold mb-0">350,897</span>
                </div>
                <div class="col-auto">
                  <div class="icon icon-shape bg-danger text-white rounded-circle shadow">
                    <i class="fas fa-chart-bar"></i>
                  </div>
                </div>
              </div>
              <p class="mt-3 mb-0 text-muted text-sm">
                <span class="text-success mr-2"><i class="fa fa-arrow-up"></i> 3.48%</span>
                <span class="text-nowrap">Since last month</span>
              </p>
            </div>
          </div>
          <!----------------------------- FOURTH BLOCKS ----------------------------->
          <div class="card card-stats mb-4 mb-xl-0 mt-3">
            <div class="card-body">
              <div class="row">
                <div class="col">
                  <h5 class="card-title text-uppercase text-muted mb-0">GASOHOL95 BAY's FAIL</h5>
                  <span class="h2 font-weight-bold mb-0">350,897</span>
                </div>
                <div class="col-auto">
                  <div class="icon icon-shape bg-danger text-white rounded-circle shadow">
                    <i class="fas fa-chart-bar"></i>
                  </div>
                </div>
              </div>
              <p class="mt-3 mb-0 text-muted text-sm">
                <span class="text-success mr-2"><i class="fa fa-arrow-up"></i> 3.48%</span>
                <span class="text-nowrap">Since last month</span>
              </p>
            </div>
          </div>
          <!----------------------------- FIFTH BLOCKS ----------------------------->
          <div class="card card-stats mb-4 mb-xl-0 mt-3">
            <div class="card-body">
              <div class="row">
                <div class="col">
                  <h5 class="card-title text-uppercase text-muted mb-0">DIESEL BAY's FAIL</h5>
                  <span class="h2 font-weight-bold mb-0">350,897</span>
                </div>
                <div class="col-auto">
                  <div class="icon icon-shape bg-danger text-white rounded-circle shadow">
                    <i class="fas fa-chart-bar"></i>
                  </div>
                </div>
              </div>
              <p class="mt-3 mb-0 text-muted text-sm">
                <span class="text-success mr-2"><i class="fa fa-arrow-up"></i> 3.48%</span>
                <span class="text-nowrap">Since last month</span>
              </p>
            </div>
          </div>
          <!----------------------------- SIXTH BLOCKS ----------------------------->
          <div class="card card-stats mb-4 mb-xl-0 mt-3">
            <div class="card-body">
              <div class="row">
                <div class="col">
                  <h5 class="card-title text-uppercase text-muted mb-0">CYCLE TIME</h5>
                  <span class="h2 font-weight-bold mb-0">350,897</span>
                </div>
                <div class="col-auto">
                  <div class="icon icon-shape bg-danger text-white rounded-circle shadow">
                    <i class="fas fa-chart-bar"></i>
                  </div>
                </div>
              </div>
              <p class="mt-3 mb-0 text-muted text-sm">
                <span class="text-success mr-2"><i class="fa fa-arrow-up"></i> 3.48%</span>
                <span class="text-nowrap">Since last month</span>
              </p>
            </div>
          </div>

        </div>
      </div>
    </div>
    <!----------------------------- END SIX BLOCKS ----------------------------->
  </div>

  <!----------------------------- START GAUGE-CHART ----------------------------->
  <div class="row">
    <!----------------------------- FIRST GAUGE-CHART ----------------------------->
    <div class="col-xl-6">
      <div class="card shadow mt-5">
        <div class="card-header bg-transparent">
          <div class="row align-items-center">
            <div class="col">
              <h6 class="text-uppercase text-muted ls-1 mb-1">Performance</h6>
              <h2 class="mb-0">Busy at GASOHOL95 Bay</h2>
            </div>
          </div>
        </div>
        <div class="card-body">
          <!-- <canvas baseChart 
            [datasets]="lineChartData" 
            [labels]="lineChartLabels" 
            [options]="lineChartOptions"
            [legend]="lineChartLegend" 
            [chartType]="lineChartType" 
            [plugins]="lineChartPlugins">
          </canvas>      -->
          <rg-gauge-chart 
          [canvasWidth]="canvasWidth" 
          [needleValue]="needleValue" 
          [centralLabel]="centralLabel"
          [options]="options">
          </rg-gauge-chart>
        </div>
      </div>
    </div>
    <!----------------------------- SECOND GAUGE-CHART ----------------------------->
    <div class="col-xl-6">
      <div class="card shadow mt-5">
        <div class="card-header bg-transparent">
          <div class="row align-items-center">
            <div class="col">
              <h6 class="text-uppercase text-muted ls-1 mb-1">Performance</h6>
              <h2 class="mb-0">Busy at DIESEL Bay</h2>
            </div>
          </div>
        </div>
        <div class="card-body">
          <!-- <div class="row">
            <div class="col"> -->
          <rg-gauge-chart 
          [canvasWidth]="canvasWidth2" 
          [needleValue]="needleValue2" 
          [centralLabel]="centralLabel2"
          [options]="options2">
          </rg-gauge-chart>
          <!-- </div>
          </div> -->
        </div>
      </div>
    </div>
  </div>
  <!----------------------------- END GAUGE-CHART ----------------------------->
  <!----------------------------- START DONUT ----------------------------->
  <div class="row">
    <!----------------------------- FIRST DONUT ----------------------------->
    <div class="col-xl-6">
      <div class="card shadow mt-5">
        <div class="card-header bg-transparent">
          <div class="row align-items-center">
            <div class="col">
              <h6 class="text-uppercase text-muted ls-1 mb-1">Performance</h6>
              <h2 class="mb-0">Average Number</h2>
            </div>
          </div>
        </div>
        <div class="card-body">
          <div style="display: block">
            <canvas baseChart 
            [data]="doughnutChartData" 
            [labels]="doughnutChartLabels" 
            [chartType]="doughnutChartType">
              <!-- [colors]="doughnutChartColors" -->
            </canvas>
          </div>
        </div>
      </div>
    </div>
    <!----------------------------- SECOND DONUT ----------------------------->
    <div class="col-xl-6">
      <div class="card shadow mt-5">
        <div class="card-header bg-transparent">
          <div class="row align-items-center">
            <div class="col">
              <h6 class="text-uppercase text-muted ls-1 mb-1">Performance</h6>
              <h2 class="mb-0">Average Time</h2>
            </div>
          </div>
        </div>
        <div class="card-body">
          <div style="display: block">
            <canvas baseChart 
            [data]="doughnutChartData2" 
            [labels]="doughnutChartLabels2"
            [chartType]="doughnutChartType2" 
            [colors]="doughnutChartColors2">
            </canvas>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!----------------------------- END DONUT ----------------------------->
  <!----------------------------- START PAGE VISITS ----------------------------->
  <div class="row mt-5">
    <div class="col-xl-8 mb-5 mb-xl-0">
      <div class="card shadow">
        <div class="card-header border-0">
          <div class="row align-items-center">
            <div class="col">
              <h3 class="mb-0">Page visits</h3>
            </div>
            <div class="col text-right">
              <a href="#!" class="btn btn-sm btn-primary">See all</a>
            </div>
          </div>
        </div>
        <div class="table-responsive">
          <!-- Projects table -->
          <table class="table align-items-center table-flush">
            <thead class="thead-light">
              <tr>
                <th scope="col">Page name</th>
                <th scope="col">Visitors</th>
                <th scope="col">Unique users</th>
                <th scope="col">Bounce rate</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">
                  /argon/
                </th>
                <td>
                  4,569
                </td>
                <td>
                  340
                </td>
                <td>
                  <i class="fas fa-arrow-up text-success mr-3"></i> 46,53%
                </td>
              </tr>
              <tr>
                <th scope="row">
                  /argon/index.html
                </th>
                <td>
                  3,985
                </td>
                <td>
                  319
                </td>
                <td>
                  <i class="fas fa-arrow-down text-warning mr-3"></i> 46,53%
                </td>
              </tr>
              <tr>
                <th scope="row">
                  /argon/charts.html
                </th>
                <td>
                  3,513
                </td>
                <td>
                  294
                </td>
                <td>
                  <i class="fas fa-arrow-down text-warning mr-3"></i> 36,49%
                </td>
              </tr>
              <tr>
                <th scope="row">
                  /argon/tables.html
                </th>
                <td>
                  2,050
                </td>
                <td>
                  147
                </td>
                <td>
                  <i class="fas fa-arrow-up text-success mr-3"></i> 50,87%
                </td>
              </tr>
              <tr>
                <th scope="row">
                  /argon/profile.html
                </th>
                <td>
                  1,795
                </td>
                <td>
                  190
                </td>
                <td>
                  <i class="fas fa-arrow-down text-danger mr-3"></i> 46,53%
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <!----------------------------- END PAGE VISITS ----------------------------->

    <!----------------------------- START SOCIAL TRAFFIC ----------------------------->
    <div class="col-xl-4">
      <div class="card shadow">
        <div class="card-header border-0">
          <div class="row align-items-center">
            <div class="col">
              <h3 class="mb-0">Social traffic</h3>
            </div>
            <div class="col text-right">
              <a href="#!" class="btn btn-sm btn-primary">See all</a>
            </div>
          </div>
        </div>
        <div class="table-responsive">
          <!-- Projects table -->
          <table class="table align-items-center table-flush">
            <thead class="thead-light">
              <tr>
                <th scope="col">Referral</th>
                <th scope="col">Visitors</th>
                <th scope="col"></th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">
                  Facebook
                </th>
                <td>
                  1,480
                </td>
                <td>
                  <div class="d-flex align-items-center">
                    <span class="mr-2">60%</span>
                    <div>
                      <div class="progress">
                        <div class="progress-bar bg-gradient-danger" role="progressbar" aria-valuenow="60"
                          aria-valuemin="0" aria-valuemax="100" style="width: 60%;"></div>
                      </div>
                    </div>
                  </div>
                </td>
              </tr>
              <tr>
                <th scope="row">
                  Facebook
                </th>
                <td>
                  5,480
                </td>
                <td>
                  <div class="d-flex align-items-center">
                    <span class="mr-2">70%</span>
                    <div>
                      <div class="progress">
                        <div class="progress-bar bg-gradient-success" role="progressbar" aria-valuenow="70"
                          aria-valuemin="0" aria-valuemax="100" style="width: 70%;"></div>
                      </div>
                    </div>
                  </div>
                </td>
              </tr>
              <tr>
                <th scope="row">
                  Google
                </th>
                <td>
                  4,807
                </td>
                <td>
                  <div class="d-flex align-items-center">
                    <span class="mr-2">80%</span>
                    <div>
                      <div class="progress">
                        <div class="progress-bar bg-gradient-primary" role="progressbar" aria-valuenow="80"
                          aria-valuemin="0" aria-valuemax="100" style="width: 80%;"></div>
                      </div>
                    </div>
                  </div>
                </td>
              </tr>
              <tr>
                <th scope="row">
                  Instagram
                </th>
                <td>
                  3,678
                </td>
                <td>
                  <div class="d-flex align-items-center">
                    <span class="mr-2">75%</span>
                    <div>
                      <div class="progress">
                        <div class="progress-bar bg-gradient-info" role="progressbar" aria-valuenow="75"
                          aria-valuemin="0" aria-valuemax="100" style="width: 75%;"></div>
                      </div>
                    </div>
                  </div>
                </td>
              </tr>
              <tr>
                <th scope="row">
                  twitter
                </th>
                <td>
                  2,645
                </td>
                <td>
                  <div class="d-flex align-items-center">
                    <span class="mr-2">30%</span>
                    <div>
                      <div class="progress">
                        <div class="progress-bar bg-gradient-warning" role="progressbar" aria-valuenow="30"
                          aria-valuemin="0" aria-valuemax="100" style="width: 30%;"></div>
                      </div>
                    </div>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <!----------------------------- END SOCIAL TRAFFIC ----------------------------->
  </div>
</div>