<div class="header bg-gradient-danger pb-8 pt-5 pt-md-8">
    <div class="container-fluid">
      <div class="header-body">       
        <a *ngFor="let Page of pages; index as i" routerLink="{{Page.Route}}">
          <button id={{i}} type="button" placement="top-center" class="{{PropChange[i]}}" triggers="hover focus click"(click)=check($event)>{{Page.Name}}</button>  
        </a>

        <!-- Card stats -->

      </div>
    </div>
  </div>
  <div class="container-fluid mt--7">
    <!-- Table -->
    <router-outlet></router-outlet>
</div>  
