<div class="header bg-gradient-danger pb-8 pt-5 pt-md-8">
    <div class="container-fluid">
      <div class="header-body">

        <!-- Card stats -->
        
        <a *ngFor="let Page of pages" routerLink="{{Page.Route}}">
          <button type="button" placement="top-center" class="btn-menu" triggers="hover focus click">{{Page.Name}}</button>  
        </a>

      </div>
    </div>
  </div>
  <div class="container-fluid mt--7">
    <!-- Table -->
    <router-outlet></router-outlet>
</div>  
