<div class="row text-right spb-2 pt-0 pl-0 ml-0">
  <div class="col-auto text-left pr-0 mr-0 pl-0" *ngFor="let Page of pages; index as i">
    <!-- <div class *ngFor="let Page of pages; index as i" routerLink="./{{Page.Route}}"> -->
    <a>

      <button id={{i}} type="button" placement="top-center" class="{{PropChange[i]}}" triggers="hover focus click"
        (click)=check($event)>{{Page.Name}}</button>

    </a>

  </div>
</div>
<!-- Table -->



<div class="row">
  <div class="col">
    <div class="card shadow">
      <div class="card-header border-0">
        <div class="row m-0 p-0">
          <div class="col p-0">
            <h2 class="mb-0">Inventory Stock</h2>
            <h1 class="text-gray mb-0"> </h1>

          </div>

          <div class="col-3 text-right">
            <mat-form-field appearance="fill">
              <mat-label>Month and Year</mat-label>
              <input matInput [matDatepicker]="dp" [formControl]="date">
              <mat-datepicker-toggle matSuffix [for]="dp"></mat-datepicker-toggle>
              <mat-datepicker #dp startView="multi-year" (yearSelected)="chosenYearHandler($event)"
                (monthSelected)="chosenMonthHandler($event, dp)" panelClass="example-month-picker">
              </mat-datepicker>
            </mat-form-field>
          </div>

          <!-- <div class="col-2">
              <h1 class="text-center mt-3">J{{DatChange}} </h1>
            </div> -->
        </div>
      </div>
      <div class="table-responsive">
        <table class="table align-items-center table-flush">
          <thead class="thead-light">
            <tr *ngIf="GeneralShowAll && GeneralShowAll[0]">
            <tr>
              <th scope="col">Petrol</th>
              <th scope="col-3">Gassohol95</th>
              <th scope="col">Diesel</th>
            </tr>
          </thead>
          <tbody style="color: black;">

            <tr>
              <td>Begining Stock</td>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <td>Purchase</td>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <td>Sold</td>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <td>Ending Stock</td>
              <td></td>
              <td></td>
            </tr>


          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
<div class="footer bg-bymeten" style="padding-bottom: 9rem;">
</div>